<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="IdsSigninRedirect" stopProcessing="true">
          <match url="signin-oidc.asp" />
          <action type="Rewrite" url="https://identity.noordhoff.nl/tm/signin?origHost={HTTP_HOST}&amp;origPath={PATH_INFO}&amp;origSecure={SERVER_PORT_SECURE}&amp;{QUERY_STRING}" />
        </rule>
        <rule name="IdsSignoutRedirect" stopProcessing="true">
          <match url="signout-oidc.asp" />
          <action type="Rewrite" url="https://identity.noordhoff.nl/tm/signout?origHost={HTTP_HOST}&amp;origPath={PATH_INFO}&amp;origSecure={SERVER_PORT_SECURE}" />
        </rule>
        <rule name="IdsRefreshRedirect" stopProcessing="true">
          <match url="refresh-oidc.asp" />
          <action type="Rewrite" url="https://identity.noordhoff.nl/tm/refresh?origHost={HTTP_HOST}&amp;origPath={PATH_INFO}&amp;origSecure={SERVER_PORT_SECURE}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>